.project-title {
  font-family: "Kanit", sans-serif;
  color: #011e35;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  left: 5%;
}

.tab {
  background-image: linear-gradient(to right, white, #889ca9);
  height: 60px;
  position: relative;
}

.logoimg {
  display: "inline-block";
  margin-left: 10px;
  margin-top: 7.5px;
  width: 50px;
}
