.project-title {
  font-family: "Segoe Print", "Segoe UI", "Segoe WP", "Segoe UI Light", sans-serif;
  color: #011e35;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-top: 15px;
  display: inline-block;
  position: absolute;
  left: 5%;
}

.tab {
  background-image: linear-gradient(to right, #ccd6dd, #66757f);
  height: 60px;
  position: relative;
}

.logoimg{
  display: "inline-block";
  margin-left: 10px;
  margin-top: 7.5px;
  width: 50px;
}