.tableout {
  padding-top: 2rem;
  background-color: #3e4444;
  position: relative;
  margin: 0;
  height: 90vh;
}

.tablein {
  text-align: center;
  width: 90%;
  margin: 0;
  display: inline-block;
  position: absolute;
  background-color: #3e4444;
  left: 5%;
}

.ant-table-body {
  min-height: 500px;
}
