.tableout {
  background-color: #e1e8ed;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0;
  min-height: calc(100vh - 95px);
  max-height: fit-content;
  padding-top: 2.25rem;
  padding-bottom: 1rem;
}

.tablein {
  text-align: center;
  width: 95%;
  margin: 0;
  display: inline-block;
  min-height: 35rem;
  /* visibility: hidden; */
  box-shadow: 5px 5px blue,

}
.ant-table-body::-webkit-scrollbar {
  display: none;
}

.ant-table-body {
  min-height: 30.625rem;
}
.ant-table-thead > tr > th {
  background: #0474cc;
  color: white;
  text-align: center !important;
}
tr:nth-child(odd) {
  background: #eff3f9;
}

.ant-table{
  /* background-color: transparent; */
  visibility: visible;
}

.ant-table-pagination{
  visibility: visible;
}