.tableout {
  padding-top: 3rem;
  background-color: #e1e8ed;
  position: relative;
  margin: 0;
  height: 90vh;
}

.tablein {
  text-align: center;
  width: 90%;
  margin: 0;
  display: inline-block;
  position: absolute;
  background-color: #e1e8ed;
  left: 5%;
}

* {

  -ms-overflow-style: none;

}

::-webkit-scrollbar {

  display: none;

}

.ant-table-body {

  min-height: 30.625rem;

}
