@import "antd/dist/antd.css";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  text-align: center;
  width: 90%;
  margin: auto;
}

.tab {
  background-color: #ffcc5c;
  height: 84px;
}

.tablediv {
  background-color: #4f3222;
}

.top {
  padding: 21px 50px 0px 50px;
  position: relative;
  background-color: #4f3222;
  height: 84px;
}

.searchbar {
  position: absolute;
  left: 33.5%;
}

.modalbtn {
  position: absolute;
  right: 10%;
}

.project-title {
  font-family: "Merriweather", serif;
  color: #011e35;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  position: absolute;
  width: 50%;
}
