@import "antd/dist/antd.css";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  text-align: center;
  width: 90%;
  margin: auto;
}

.tab {
  background-color:  #82b74b;
  height: 60px;
  position: relative;
}

.tablediv {
  padding-top: 10px;
  background-color:  #3e4444;
}


.searchbar {
  display: inline-block;
  position: absolute;
  right: 9%;
  margin-top: 15px;
  
}

.modalbtn {
  display: inline-block;
  position: absolute;
  right: 1%;
  margin-top: 15px;
}

.project-title {
  font-family: "Merriweather", serif;
  color: #011e35;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin-top: 15px;
  display: inline-block;
  position: absolute;
  left: 5%;
}
